.o-mail-MessageCardList {
    .card {
        --border-opacity: 0.075;
    }

    .card-body {
        background-color: var(
            --mail-MessageCardList-cardBodyBg,
            $o-view-background-color
        );

        &:hover .o-mail-MessageCard-jump {
            opacity: 100 !important;
        }
    }
}

.o-mail-MessageCard-jump {
    color: white;
}

.o_touch_device .o-mail-MessageCard-jump.btn {
    font-size: 0.9rem;
}


// The dark half, folded in from `message_card_list.dark.scss`.
@include media-only(screen) {
    :root[data-color-scheme="dark"] {
        .o-mail-MessageCardList {
            --mail-MessageCardList-cardBodyBg: #{mix($o-dark-gray-100, $o-dark-gray-200)};
        }
    }
}
