$-editor-messages-margin-x: 2%;
%o-editor-messages {
    background: $o-we-dropzone-bg-color;
    text-align: center;
    color: #fff;
    outline: $o-we-dropzone-border-width dashed $o-we-dropzone-accent-color;
    outline-offset: -$o-we-dropzone-border-width;

    &:before {
        content: attr(data-editor-message);
        display: block;
        font-size: 20px;
    }
    &:not(:empty) {
        &[data-editor-message-default]:before {
            content: none;
        }
    }
    &:after {
        content: attr(data-editor-sub-message);
        display: block;
    }
}
%o-disable-iframes {
    iframe {
        pointer-events: none;
    }
}
.o_we_snippet_area_animation {
    animation-delay: 999ms;

    &::before {
        animation: inherit;
        animation-delay: 0ms;
    }
}

.o_editable {
    &:not(:empty),
    &[data-oe-type] {
        &:not([data-oe-model="ir.ui.view"]):not([data-oe-type="html"]):not(
                .o_editable_no_shadow
            ):not([data-oe-type="image"]):hover,
        &.o_editable_date_field_linked {
            outline: $o-we-handle-border-width solid $o-we-handles-accent-color;
            outline-offset: $o-we-handle-border-width;
        }
        &[data-oe-type="image"]:not(.o_editable_no_shadow):hover {
            position: relative;

            &:after {
                content: "";
                pointer-events: none;
                @include o-position-absolute(0, 0, 0, 0);
                z-index: 1;
                outline: $o-we-handle-border-width solid $o-we-handles-accent-color;
                outline-offset: $o-we-handle-border-width;
            }
        }
    }
    &:focus,
    &[data-oe-type] {
        min-height: 0.8em;
        min-width: 8px;

        &#o_footer_scrolltop_wrapper {
            min-height: 0;
            min-width: 0;
        }
    }
    &.o_is_inline_editable {
        display: inline-block;
    }
    .btn,
    &.btn {
        -webkit-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
        cursor: text !important;
    }
    &[placeholder]:not(:focus) {
        &:empty:before,
        &:has(br:only-child):before,
        &[data-oe-zws-empty-inline]:before {
            content: attr(placeholder);
            opacity: 0.3;
            pointer-events: none;
        }
    }

    &.oe_structure.oe_empty,
    &[data-oe-type="html"],
    .oe_structure.oe_empty {
        > .oe_drop_zone.oe_insert:not(.oe_vertical) {
            @extend %o-editor-messages;
            height: auto;

            &:only-child {
                margin: 20px $-editor-messages-margin-x;
                width: 100% - $-editor-messages-margin-x * 2;
                padding: 12px 0px;
            }

            &:not(:only-child) {
                &::before {
                    font-size: 16px;
                }
                &[data-editor-message-default]::before {
                    content: none;
                }
            }
        }

        &#wrap:empty {
            @extend %o-editor-messages;
            padding: 112px 0px;
            margin: 20px $-editor-messages-margin-x;
            border-radius: $border-radius-lg;
        }

        &#wrap > .oe_drop_zone.oe_insert:not(.oe_vertical):only-child {
            padding: 112px 0px;
            text-shadow: none;
        }

        > p:empty:only-child {
            color: #aaa;
        }
    }
    &[data-oe-type="html"].oe_empty:empty {
        @extend %o-editor-messages;
    }
}
.editor_enable [data-oe-readonly]:hover {
    cursor: default;
}
.oe_structure_solo > .oe_drop_zone {
    transform: translateY(10px);
}

[draggable] {
    user-select: none;
}

.oe_editable:focus,
.css_editable_hidden,
.editor_enable .css_editable_mode_hidden {
    outline: none !important;
}

.editor_enable .css_non_editable_mode_hidden,
.o_editable .media_iframe_video .css_editable_mode_display {
    display: block !important;
}

.editor_enable [data-oe-type="html"].oe_no_empty:empty {
    height: 16px !important;
}

.link-style {
    .dropdown > .btn {
        min-width: 160px;
    }
    .link-style {
        display: none;
    }
    li {
        text-align: center;
        label {
            width: 100px;
            margin: 0 5px;
        }
    }
    .col-md-2 > * {
        line-height: 2em;
    }
}

#wrap.o_editable .fa {
    cursor: pointer;
}

.parallax .oe_structure > .oe_drop_zone {
    &:first-child {
        top: 16px;
    }
    &:last-child {
        bottom: 16px;
    }
}

.editor_enable .o_add_language {
    display: none !important;
}

.editor_enable .o_facebook_page:not(.o_facebook_preview) {
    @extend %o-disable-iframes;
    .o_facebook_alert .o_add_facebook_page {
        cursor: pointer;
    }
}

.editor_enable .s_instagram_page {
    @extend %o-disable-iframes;
}

body.editor_enable {
    .s_countdown {
        .s_countdown_enable_preview {
            display: initial !important;
        }
        .s_countdown_none {
            display: none !important;
        }
    }
}

body.editor_enable {
    .s_dynamic {
        [data-url] {
            cursor: inherit;
        }
    }
}

.editor_enable.o_animated_text_highlighted {
    .o_animated_text {
        position: relative;

        &:after {
            content: "";
            pointer-events: none;
            @include o-position-absolute(0, 0, 0, 0);
            z-index: 1;
            border: 1px dotted white;
            background-color: rgba(greenyellow, 0.2);
        }
    }
}

.editor_enable {
    .s_website_form,
    .s_searchbar_input,
    .js_subscribe,
    .s_group,
    .s_donation_form {
        input:not(.o_translatable_attribute) {
            pointer-events: none;
        }
    }
    .s_website_form {
        textarea:not(.o_translatable_attribute):not(.o_translatable_text) {
            pointer-events: none;
        }
    }

    #o_logout,
    .js_change_lang {
        pointer-events: none;
    }
}
.o_homepage_editor_welcome_message {
    padding-top: 128px;
    padding-bottom: 128px;
    font-family: $o-font-family-sans-serif;
}
body.editor_enable {
    .offcanvas-backdrop {
        user-select: none;
    }
}
$o-we-popover-bg: white;
body.editor_enable {
    .o_edit_menu_popover {
        background-color: $o-we-popover-bg;
        font-family: $o-we-font-family;

        a {
            color: o-token(--o-brand, $o-brand-primary);

            &.text-muted {
                color: rgba(0, 0, 0, 0.65) !important;
            }
        }
        i:not(.js_edit_menu > i) {
            color: rgba(0, 0, 0, 0.9);
        }
        &.bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::after {
            border-top-color: $o-we-popover-bg;
        }
        &.bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::after {
            border-right-color: $o-we-popover-bg;
        }
        &.bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after {
            border-bottom-color: $o-we-popover-bg;
        }
        &.bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::after {
            border-left-color: $o-we-popover-bg;
        }
    }
}

body.editor_enable {
    .tooltip .tooltip-inner {
        color: white !important;
    }
}
