.o_calendar_filter {
    img:not(.o_avatar) {
        width: 30px;

        &.o_calendar_filter_plain {
            content: var(--calendarFilter-icon--plain);
        }

        &.o_calendar_filter_hatched {
            content: var(--calendarFilter-icon--hatched);
        }

        &.o_calendar_filter_line {
            content: var(--calendarFilter-icon--line);
        }
    }

    @for $size from 1 through length($o-colors) {
        .hr_mandatory_day_#{$size - 1}:not(.fc-disabled-day) {
            color: unquote("var(--o-record-color-#{$size})") !important;
        }
    }
}


// The dark half, folded in from `calendar_filter_section.dark.scss`.
@include media-only(screen) {
    :root[data-color-scheme="dark"] {
        // = HR Holidays
        // ============================================================================
        // No CSS hacks, variables overrides only
        .o_calendar_filter {
            --calendarFilter-icon--plain: url("/hr/static/src/img/icons/plain_dark.svg");
            --calendarFilter-icon--hatched: url("/hr/static/src/img/icons/hatched_dark.svg");
            --calendarFilter-icon--line: url("/hr/static/src/img/icons/line_dark.svg");
        }
    }
}
