.numpad-so {
    background-color: o-token(--o-white, $o-white);
    border-radius: $border-radius-xl;

    & button {
        background-color: o-token(--o-white, $o-white);
        min-height: 5vh;
        font-size: 1.8rem !important;

        &::after {
            border: $border-width solid o-palette-token(--o-gray-200, $o-gray-200);
        }

        &:disabled {
            background-color: lighten($o-gray-300, 5%);
        }
    }
}
