body.editor_enable:has(.o_wsale_edit_preview_enabled) {
    @keyframes sidebar_preview {
        to {
            min-width: o-to-rem(240px);
            max-width: var(--o-wsale-sidebar-maxwidth, 15rem);
            opacity: 1;
            transform: translateX(0);
        }
    }

    .o_wsale_sidebar_preview {
        padding: 0;
        flex: 0 0 25%;
        min-width: 0;
        max-width: 0;
        transform: translateX(-50%);
        opacity: 0;
    }

    .o_wsale_previewing_sidebar {
        .o_wsale_sidebar_preview:first-child {
            @include media-breakpoint-up(lg) {
                animation: sidebar_preview 0.2s forwards;
            }
        }
    }

    @keyframes filmstrip_preview {
        to {
            max-height: 100px;
            transform: translateY(0);
            opacity: 1;
        }
    }

    .o_wsale_filmstrip_preview {
        max-height: 0;
        padding: 0;
        transform: translateY(-50%);
        opacity: 0;
    }

    .o_wsale_previewing_filmstrip {
        .o_wsale_filmstrip_preview {
            animation: filmstrip_preview 0.4s forwards;
        }
    }

    .o_wsale_previewing_offcanvas {
        #o_wsale_offcanvas {
            visibility: visible;
            transform: none;
            box-shadow: $box-shadow-lg;
        }
    }

    .o_wsale_edit_preview_enabled:not(.o_wsale_previewing_offcanvas) {
        #o_wsale_offcanvas #o_wsale_price_range_option_inner * {
            visibility: hidden !important;
        }
    }

    .o_wsale_description_preview {
        opacity: 0;
        transition: all 0.2s;

        .placeholder {
            transform: translateY(-50%);
            min-height: 0em;
            transition: all 0.2s;
            opacity: 0.15;
        }
    }

    .o_wsale_previewing_description {
        .o_wsale_description_preview {
            opacity: 1;

            .placeholder {
                transform: translateY(0);
                min-height: 0.4em;
            }
        }
    }

    @keyframes floating_bar_preview {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .o_wsale_floating_bar_preview {
        transform: translateY(100%);
        opacity: 0;
        transition: all 0.2s;
    }

    .products_header {
        max-height: 100px;
        overflow: hidden;
        transition: all 0.2s;
    }

    .o_wsale_previewing_floating_bar {
        .products_header {
            max-height: 0px;
        }

        .o_wsale_floating_bar_preview {
            animation: floating_bar_preview 0.2s forwards;
        }
    }
}
