.o_searchview {
    --SearchBar-background-color: #{$input-focus-bg};

    background-color: var(--SearchBar-background-color);
    border: $input-border-width solid o-token(--border-color, $border-color);

    &:focus-within {
        border-color: o-token(--o-brand, $input-focus-border-color);
        color: $input-focus-color;

        + .o_searchview_dropdown_toggler {
            border-top-color: o-token(--o-brand, $input-focus-border-color);
            border-right-color: o-token(--o-brand, $input-focus-border-color);
            border-bottom-color: o-token(--o-brand, $input-focus-border-color);
        }
    }

    .o_searchview_input {
        appearance: none;
    }
}

.o_search_options {
    flex-wrap: wrap;
    margin: auto 0;
    flex-grow: 1;
}

.o_web_client .o_mobile_search {
    align-items: normal;
    background-color: var(--mobileSearch-bg, var(--o-white));
    border: none;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zindex-modal;

    .o_mobile_search_header {
        background-color: var(--mobileSearch__header-bg, var(--o-brand-odoo));
        display: flex;
        min-height: $o-navbar-height;
        justify-content: space-between;
        width: 100%;

        .o_mobile_search_button {
            color: white;

            &:active {
                background-color: darken($o-brand-primary, 10%);
            }
        }
    }

    .o_mobile_search_content {
        flex: auto;
        height: auto;
        overflow-y: auto;
        width: 100%;

        .o_searchview_input_container {
            display: flex;
            padding: 15px 20px 0 20px;
            position: relative;

            .o_searchview_input {
                border-bottom: 1px solid $o-brand-secondary;
                margin-bottom: 15px;
                width: 100%;
                background-color: var(--o-input-background-color, #{$input-bg});
            }

            .o_searchview_facet {
                border-radius: 10px;
                display: inline-flex;
                order: 1;

                .o_searchview_facet_label {
                    border-radius: 2em 0em 0em 2em;
                }
            }

            .o_searchview_autocomplete {
                top: 100%;

                > li {
                    margin: 5px 0px;
                }
            }
        }
    }
}
