.o_report_layout_bubble {
    #informations {
        margin: 0;
        border: $border-width * 2 solid
            var(--co-secondary, $o-default-report-secondary-color);
        border-radius: $border-radius-lg;
        background-color: color-mix(
            in srgb,
            white 92%,
            var(--co-secondary, $o-default-report-secondary-color)
        );
        padding: map-get($spacers, 2) $table-cell-padding-y;

        div:first-child {
            padding-left: 0;
        }

        div:last-child {
            padding-right: 0;
        }
    }

    thead th,
    #total .o_total td {
        background-color: var(--co-primary, $o-default-report-primary-color);
    }
}

.o_shape_bubble_1 {
    top: -870px;
    right: -450px;
}
