.o_field_project_task_state_selection, .o_field_task_step_with_state_selection {
    .o_status {
        width: $o-bubble-color-size-xl;
        height: $o-bubble-color-size-xl;
        text-align: center;
        margin-top: -0.5px;
    }

    .fa-solid {
        font-size: 1.75em;
        margin-top: -2.5px;
        max-width: 20px;
        max-height: 20px;
    }

    .o_task_state_list_view {
        height: $o-line-size;

        .fa-solid {
            font-size: 1.315em;
            vertical-align: -6%;
        }
        .o_status {
            width: $o-bubble-color-size;
            height: $o-bubble-color-size;
        }
    }

    .o_status_changes_requested {
        color: $warning;
    }

    .o_status_todo {
        background-color: map-get($theme-colors, "info");
    }
}

.project_task_state_selection_menu {
    .fa-solid {
        font-size: 1.315em;
        display: inline-block;
        width: 14.65px;
        text-align: center;
        vertical-align: middle;
        transform: translateX(-50%);
    }

    .o_status {
        width: 14.65px;
        height: 14.65px;
        text-align: center;
        vertical-align: middle;
    }

    .o_status_changes_requested {
        color: $warning;
    }

    .o_status_todo {
        background-color: map-get($theme-colors, "info");
    }
}

.o_field_task_step_with_state_selection {
    .fa-solid {
        font-size: 1.57em;
    }
}
