.o-mail-MessageSeenIndicator {
    &.o-hasEveryoneSeen {
        color: var(
            --mail-MessageSeenIndicator-hasEveryoneSeenColor,
            lighten($primary, 20%)
        );
    }

    i {
        // fa icons have a line height of 1 by default which breaks alignment
        line-height: 1.5;

        &.o-second {
            top: -3px;
        }
    }
}


// The dark half, folded in from `message_seen_indicator.dark.scss`.
@include media-only(screen) {
    :root[data-color-scheme="dark"] {
        .o-mail-MessageSeenIndicator {
            --mail-MessageSeenIndicator-hasEveryoneSeenColor: #{lighten($o-dark-bs-primary, 15%)};
        }
    }
}
