.o_field_property_selection {
    .fa-star {
        color: o-token(--o-favorite, $o-main-favorite-color);
    }
}

.o_field_property_selection_drag {
    @include o-grab-cursor;
    color: #adb5bd;
    &:hover {
        color: o-token(--o-black, $o-component-active-color);
    }
}
