.o-livechat-ChannelKanban-highlighted {
    background-color: o-token(--o-bg-active, $o-component-active-bg) !important;
    color: o-token(--o-black, $o-component-active-color);

    &::before {
        background-color: o-token(--o-bg-active, $o-component-active-bg) !important;
    }
}
