.o_user_menu .dropdown-toggle {
    --NavBar-entry-padding-right: #{$o-horizontal-padding};

    .o_user_avatar {
        height: calc(var(--o-navbar-height) - 20px);
    }
}

.o_user_menu_dropdown {
    min-width: 16rem;
    padding: 5px;
    border-radius: 12px;
    backdrop-filter: blur(30px) saturate(1.6);
    -webkit-backdrop-filter: blur(30px) saturate(1.6);

    .o_user_menu_header {
        margin-bottom: 5px;
        padding: 8px 12px 10px;
        border-bottom: 1px solid var(--o-border-color, #{$border-color});
    }

    .o_user_menu_name {
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
    }

    .o_user_menu_login {
        font-size: 13px;
        line-height: 18px;
        color: var(--o-text-muted, #{$text-muted});
    }

    .dropdown-item {
        border-radius: 6px;
    }

    .dropdown-item[data-menu="logout"] {
        color: $o-danger;
    }
}
