.o_widget_wo_list_view_dropdown {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    .o_status {
        width: 16px;
        height: 16px;
    }
}

td.o_data_cell:has(> div.o_widget_wo_list_view_dropdown) {
    overflow: visible !important;
}
