$o-mimetype-icons: (
    (image, "[data-mimetype^='image']"),
    (audio, "[data-mimetype^='audio']"),
    (text, "[data-mimetype^='text'], [data-mimetype$='rtf']"),
    (
        binary,
        "[data-mimetype*='octet-stream'], [data-mimetype*='download'], [data-mimetype*='python']"
    ),
    (video, "[data-mimetype^='video'], [title$='.mp4'], [title$='.avi']"),
    (
        archive,
        "[data-mimetype$='archive'], [data-mimetype$='compressed'], [data-mimetype*='zip'], [data-mimetype$='tar'], [data-mimetype*='package']"
    ),
    (pdf, "[data-mimetype^='application/pdf']"),
    (
        document,
        "[data-mimetype^='text-master'], [data-mimetype*='document'], [data-mimetype*='msword'], [data-mimetype*='wordprocessing']"
    ),
    (web_code, "[data-mimetype*='application/xml'], [data-mimetype$='html']"),
    (web_style, "[data-mimetype$='css'], [data-mimetype$='less'], [data-ext$='less']"),
    (
        disk,
        "[data-mimetype*='-image'], [data-mimetype*='diskimage'], [data-ext$='dmg']"
    ),
    (
        spreadsheet,
        "[data-mimetype$='csv'], [data-mimetype*='vc'], [data-mimetype*='excel'], [data-mimetype$='numbers'], [data-mimetype$='calc'], [data-mimetype*='mods'], [data-mimetype*='spreadsheet']"
    ),
    (certificate, "[data-mimetype^='key']"),
    (
        presentation,
        "[data-mimetype*='presentation'], [data-mimetype*='keynote'], [data-mimetype*='teacher'], [data-mimetype*='slideshow'], [data-mimetype*='powerpoint']"
    ),
    (
        certificate,
        "[data-mimetype*='cert'], [data-mimetype*='rules'], [data-mimetype*='pkcs'], [data-mimetype$='stl'], [data-mimetype$='crl']"
    ),
    (font, "[data-mimetype*='-font'], [data-mimetype*='font-'], [data-ext$='ttf']"),
    (print, "[data-mimetype*='-dvi']"),
    (
        script,
        "[data-mimetype*='script'], [data-mimetype*='x-sh'], [data-ext*='bat'], [data-mimetype$='bat'], [data-mimetype$='cgi'], [data-mimetype$='-c'], [data-mimetype*='java'], [data-mimetype*='ruby']"
    ),
    (javascript, "[data-mimetype*='javascript']"),
    (calendar, "[data-mimetype*='calendar'], [data-mimetype$='ldif']"),
    (
        vector,
        "[data-mimetype$='postscript'], [data-mimetype$='cdr'], [data-mimetype$='xara'], [data-mimetype$='cgm'], [data-mimetype$='graphics'], [data-mimetype$='draw'], [data-mimetype*='svg']"
    )
) !default;

.o_image {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-image: url("/web/static/img/mimetypes/unknown.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @each $-entry in $o-mimetype-icons {
        &:is(#{nth($-entry, 2)}) {
            background-image: url("/web/static/img/mimetypes/#{nth($-entry, 1)}.svg");
        }
    }
}
