$o-white: $o-dark-white !default;
$o-black: $o-dark-black !default;

$o-gray-100: $o-dark-gray-100 !default;
$o-gray-200: $o-dark-gray-200 !default;
$o-gray-300: $o-dark-gray-300 !default;
$o-gray-400: $o-dark-gray-400 !default;
$o-gray-500: $o-dark-gray-500 !default;
$o-gray-600: $o-dark-gray-600 !default;
$o-gray-700: $o-dark-gray-700 !default;
$o-gray-800: $o-dark-gray-800 !default;
$o-gray-900: $o-dark-gray-900 !default;

$o-colors-lighten: $o-dark-colors-lighten !default;
