.o-mail-DiscussContent-headerActions button {
    @media (hover: none) {
        .fa-phone,
        .fa-video-camera {
            color: o-token(--success, $success) !important;
        }
    }
    @media (hover: hover) {
        &:hover {
            &:has(.fa-phone),
            &:has(.fa-video-camera) {
                background-color: o-palette-token(--o-gray-100, $gray-100) !important;
                outline: 1px solid o-token-alpha(--success, $success, 0.25);
                i {
                    color: lighten($success, 5%) !important;
                }
            }
        }
    }
}
