.o_web_client.o_mail_discuss {
    --ControlPanel-border-bottom: #{$border-width} solid
        #{o-token-alpha(--border-color, $border-color, 0)};
}

@include media-only(screen) {
    :root[data-color-scheme="dark"] {
        .o_web_client.o_mail_discuss {
            --mail-Discuss-surface-dark: #{mix(
                    $o-dark-white,
                    $o-dark-webclient-background-color,
                    15%
                )};
            --NavBar-entry-backgroundColor: var(--mail-Discuss-surface-dark);

            .o_main_navbar,
            .o_control_panel,
            .breadcrumb {
                background-color: var(--mail-Discuss-surface-dark);
            }
            .breadcrumb .btn-light {
                --btn-bg: var(--mail-Discuss-surface-dark);
                border-color: transparent;
            }
        }
    }
}
